*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	min-height: 100vh;
	background: linear-gradient(45deg, #ff216d, #2196f3);
}

.register-flex{
	display: flex;
  justify-content: center;
  margin-left: 0px;
  margin-top: 150px;
}

.regbttn{
	background: #fff;
	padding: 6px 24px;
	cursor: pointer;
	transition: 1s;

	font-size: 1.2em;
    color: #666;
    border: 2px solid #edf1f4;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 46%), -5px -5px 10px #ffffff6b;
    border-radius: 10px;
}

#gray{
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px); 
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	z-index: 100;
	transition: 1s;
}

#window{
	width: 350px;
	height: 170px;
	margin: 40px auto;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 15px;
	z-index: 150;
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 270px;
	bottom: 0;
	transition: 1s;
}

#window-2{
	width: 350px;
	height: 170px;
	margin: 40px auto;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 15px;
	z-index: 150;
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 270px;
	bottom: 0;
	transition: 1s;
}

#window-3{
	width: 350px;
	height: 170px;
	margin: 40px auto;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 15px;
	z-index: 150;
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 270px;
	bottom: 0;
	transition: 1s;
}

.close{
	margin: 10px 0 0 320px;
	padding: 2px;
	cursor: pointer;
	transition: 0.2s;
}

.close:hover{
	background: #ccc;
}

.reg-form{
	width: 275px;
	margin: 0 auto 20px auto;
	text-align: center;
}

.reg-input{
	width: 260px;
	padding: 5px;
	margin-bottom: 10px;
}
